year: YYYY

dates:
  - YYYY--
  - YYYY--

location:
  country:
  state:
  city:
  venue:

deadlines:
  paper:
    abstract: YYYY--
    submit: YYYY--
    rebuttal:
      - YYYY--
      - YYYY--
    notification: YYYY--
  poster: YYYY--
  workshop: YYYY--
  tutorial: YYYY--
  wip: YYYY--

homepage: http
